---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

:root {
  --background-color: #282c34;
  --foreground-color: #bbc2cf;
  --head1-color: #51afef;
  --head2-color: #C57BDB;
  --head3-color: #a991f1;
  --head4-color: #7cc3f3;
  --link-color: #51afef;
  --border-color-soft: black;
}


// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       var(--foreground-color);
$background-color: var(--background-color);
$brand-color:      #2a7ae2;

// $grey-color:       #828282;
$grey-color:        #44BB44;
$grey-color-dark: lighten($grey-color, 40%);
$grey-color-light:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$head1: var(--head1-color);
$head2: var(--head2-color);
$head3: var(--head3-color);
$head4: var(--head4-color);


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"syntax-highlighting"
;
